<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">CONTACK</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="container">
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                TECHNOLOGY STACK
            </h3>
            <div class="column is-full is-size-3">
                <a target="_blank" class="has-text-black"><i class="fas fa-leaf"></i></a>
                <a target="_blank" class="has-text-black"><i class="fab fa-python"></i></a>
                <a target="_blank" class="has-text-black"><i class="fab fa-java"></i></a>
                <a target="_blank" class="has-text-black"><i class="fab fa-android"></i></a>
                <a target="_blank" class="has-text-black"><i class="fab fa-git"></i></a>
                <a target="_blank" class="has-text-black"><i class="fab fa-linux"></i></a>
                <a target="_blank" class="has-text-black"><i class="fab fa-html5"></i></a>
                <a target="_blank" class="has-text-black"><i class="fab fa-js"></i></a>
                <a target="_blank" class="has-text-black"><i class="fab fa-css3-alt"></i></a>
                <a target="_blank" class="has-text-black"><i class="fas fa-database"></i></a>
                <div>
                    <span class="stack_text">spring</span>
                    <span class="stack_text">python</span>
                </div>
            </div>
        </div>

        </div>
</section>